@import 'bourbon/bourbon';
@import 'neat/neat';

$gris: #ecf0f1;
$azul-oscuro: #34495e;
$verde-claro: #2ecc71;
$verde-oscuro: #27ae60;
$naranja: #e67e22;

$small: 480px;
$medium: 640px;

//breakpoints
$mobile: new-breakpoint(max-width $small);
$tablet: new-breakpoint(max-width $medium);


/* Resetear los márgenes de los elementos */
* { margin: 0; }

/* Dandole estilos a los elementos principales del html */
html { background-color: $gris; }
body {
  @include outer-container; // max-width predeterminado = 68em;
  background-color: $azul-oscuro;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}
button {
  @include transition( all 0.5s ease );
  background-color: $verde-claro;
  border-radius: 10px;
  border: 1px solid $verde-claro;
  color: white;
  font-weight: bold;
  padding: .5em 1em;
  &:hover {
    @include transform( translateX(20px) );
    background-color: $verde-oscuro;
    cursor: pointer;
  }
}
footer {
  @include span-columns(12);
}
h1 {
  font-size: 2em;
  font-weight: normal;
}
h3, h2, p {
  margin-bottom: .5em;
}
header, footer {
  background-color: $naranja;
  color: white;
  padding: 20px 0;
  text-align: center;
}
nav {
  @include box-sizing(border-box);
  @include span-columns(2);
  float: left;
  padding: 1em 2em;
}
nav ul {
  padding: 0;

  a {
    color: white;
    font-size: 1.2em;
    list-style: none;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  li { margin-bottom: .5em; }
}

/* Dandole estilos a las clases */
.logo, h1 {
  display: inline-block;
  vertical-align: middle;
}
.productos {
  @include span-columns(10);
  @include omega();
  background-color: white;
  padding: 1em 2em;
}
.producto {
  border-top: 5px dotted #999;
  overflow: hidden;
  padding: 1em 0 2em;

  img {
    float: left;
    margin-right: 1em;
    width: 150px;
  }
}
.logo { width: 70px; }

/* Estilos cuando el ancho es menor igual que 640px */
@include media($tablet){
  nav { display: none; }
  .productos { @include span-columns(12); }
}

/* Estilos cuando el ancho es menor igual que 480px */
@include media($mobile) {
  button {
    display: block;
    margin: 0 auto;
  }
  .producto { text-align: center; }
  .producto img {
    float: none;
    margin: 0;
  }
  .producto p {
    text-align: left;
  }
}